azure_subscription_id = "..."
azure_client_id       = "..."
azure_client_secret   = "..."
azure_tenant_id       = "..."
name = "testrancherserver"
location = "West Europe"
address_space = "10.16.0.0/18"
subnets = { 
  "default" = "10.16.2.0/24"
}
network_security_rules = [
    "ssh,100,Inbound,Allow,Tcp,*,22,*,*", 
    "http,200,Inbound,Allow,Tcp,*,80,*,*",
    "https,300,Inbound,Allow,Tcp,*,443,*,*"
  ]
public_key_path = "..."
subnet_name = "default"
cloud_init_file = "rancherserver.conf"
ssh_users_file = "sshusers"
admin_username = "..."
