azure_subscription_id = "..."
azure_client_id       = "..."
azure_client_secret   = "..."
azure_tenant_id       = "..."
name = "testkeyvault"
location = "West Europe"
key_type = "RSA"
key_opts = ["wrapKey","unwrapKey"]