azure_subscription_id = "..."
azure_client_id       = "..."
azure_client_secret   = "..."
azure_tenant_id       = "..."
name = "testsqldb"
location = "West Europe"
sql_server_version = "12.0"
administrator_login = "..."
administrator_login_password = "..."
rule_list = ["all,0.0.0.0,255.255.255.255"]
sql_database_edition = "Standard"
requested_service_objective_name = "S0"